// Global styles 
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Truculenta', sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  padding: 2rem 2rem;
  background: #eee;
  color: #333;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background: #333;
  color: #eee;
}

h1 {
  font-size: 8rem;
}

li,button,label, input, p {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
}

a {
  color: white;
  text-decoration: none;
}

#main-head {
  background:#333;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-size: 3rem;
}

.showcase {
  background: linear-gradient(rgba(0,0,0,0.5),transparent),url('/img/landing-page.jpg');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase h3 {
  padding:5rem;
}

// Benefits section

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), transparent), url("/img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: #333;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin:auto;
}

.locations-head h2 {
  padding: 2rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.cloud {
  position: absolute;
  top:0%;
  right: 0%;
}

.moving-cloud-1 {
  z-index: -1;
  width: 50%;
  top: 10%;
  animation: cloudy 3s alternate ease-in infinite;
}

.moving-cloud-2 {
  width: 50%;
  z-index: 1;
  animation: cloudy 3s alternate ease-in-out infinite;
  
}

@keyframes cloudy {
  from {
    transform: translate(10%, -10%);
  } to {
    transform: translate(0,0);
  }
}



@media screen and (max-width: 940px) {
  html {
    font-size: -45%;
  }

  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }

}